<body>
  <table>
      <tbody>
          <thead>
              <th>
                  <tr>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>  
                  </tr>
                  <tr>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                  </tr>
                  <tr>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                    <td> <a href="/"><img src="images/x.png"/></a> </td>
                  </tr>
              </th>
          </thead>
      </tbody>
  </table>   
</body>