<body>
  <table>
      <tbody>
          <thead>
              <th>
                  <tr>
                    <form id="image_squares" action="/choice" method="post">
                      <td> <input id="image" type="image" src="images/x.png" value="1" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="2" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="3" alt="" /></a> </td> 
                    </tr>
                    <tr>
                      <td> <input id="image" type="image" src="images/x.png" value="4" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="5" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="6" alt="" /></a> </td> 
                    </tr>
                    <tr>
                      <td> <input id="image" type="image" src="images/x.png" value="7" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="8" alt="" /></a> </td>
                      <td> <input id="image" type="image" src="images/x.png" value="9" alt="" /></a> </td> 
                    </form>
                  </tr>
              </th>
          </thead>
      </tbody>
  </table>   
</body>