<body>
<%if @error %>
      <div class="alert alert-error"><%=@error%></div>
    <%elsif @success %>
      <div class="alert alert-success"><%=@success%></div>  
    <% end %>
  <table>
      <tbody>
          <thead>
              <th>
                  <tr>
                    <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="1"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="2"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="3"> <input type="image" src="images/x.png"></td></form>
                    </tr>
                    <tr>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="4"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="5"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="6"> <input type="image" src="images/x.png"></td></form>
                    </tr>
                    <tr>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="7"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="8"> <input type="image" src="images/x.png"></td></form>
                      <form id="image_squares" action="/choice" method="post">
                      <td><input type="hidden" name="player_choice" value="9"> <input type="image" src="images/x.png"></td></form>
                  </tr>
              </th>
          </thead>
      </tbody>
  </table>   
</body>